body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 30px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 300px;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px auto;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}
